footer{
	background: #3d5159;
	bottom: 0;
	padding: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
	#add-new{
		background: none;
		border: 3px solid white;
		border-radius: 50%;
		color: white;
		font: inherit;
		font-size: 40px;
		font-weight: bold;
		height: 50px;
		margin: 0 auto;
		line-height: 30px;
		padding: 5px;
		width: 50px;
	}
}