body{
	background: #f6f6f6;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
.logo{
	background-image: url(../images/logo.png);
	background-image: url(../images/logo.svg), url(../images/logo.png);
	background-repeat: no-repeat;
	display: block;
	height: 300px;
	margin: 50px auto;
	width: 300px;
}
#login-buttons{
	left: 50%;
	margin-left: -150px;
	position: absolute;
	width: 300px;
}
header{
	height: 60px;
	.profilePic{
		border-radius: 50%;
		height: 40px;
		margin: 10px;
		width: 40px;
	}
	a{
		color: #333;
		display: inline-block;
		font-size: 0.6em;
		line-height: 20px;
		padding: 0 10px;
		position: relative;
		top: -20px;
	}
}
#main{
	margin: 10px auto;
	padding: 40px;
	width: 100%;
}
#dashboard{
	.groupList{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 20px;
	}
	.groupAdd{
		background: #999;
		border-radius: 8px;
		color: #fff;
		padding: 5px 10px;
	}
}
