body{
	background: #f6f6f6;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
header{
	height: 60px;
	.profilePic{
		border-radius: 50%;
		height: 40px;
		margin: 10px;
		width: 40px;
	}
	a{
		color: #333;
		display: inline-block;
		font-size: 0.6em;
		line-height: 20px;
		padding: 0 10px;
		position: relative;
		top: -20px;
	}
}
#main{
	margin: 10px auto;
	padding: 40px;
	width: 100%;
}
