<template name="login">
	{{#if registerPage }}
		<div id="register">
			<div class="logo"></div>
			<form action="">
				<fieldset>
					<input type="text" name="registerEmail" id="registerName" placeholder="Email">
					<input type="password" name="registerPassword" id="registerPassword" placeholder="Password">
					<input type="password" name="registerPasswordConfirmation" id="registerPasswordConfirmation" placeholder="Password confirmation">
					<input type="submit" value="Sign in" id="send">
				</fieldset>
			</form>
		</div>
	{{ else }}
		<div id="login">
			<div class="logo"></div>
			<fieldset>
				<input type="text" name="loginEmail" id="loginName" placeholder="Email">
				<input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
				<input type="submit" value="Sign in" id="send">
				<a href="" id="loginFacebook">Sign in with facebook</a>
			</fieldset>
			<div class="options">
				<a href="register" id="loginCreateAccount">Create Account</a>
				<a href="forgot-password" id="loginForgotPassword">Forgot Password</a>
			</div>
		</div>
	{{/if }}
</template>
