<template name="login">
	{{#if registerPage }}
		{{> register }}
	{{ else }}
		<div id="login">
			<div class="logo"></div>
			<fieldset>
				<input type="text" name="loginEmail" id="loginName" placeholder="Email">
				<input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
				<input type="submit" value="Sign in" id="send">
				<a href="" id="loginFacebook">Sign in with facebook</a>
			</fieldset>
			<div class="options">
				<a href="register" id="loginCreateAccount">Create Account</a>
				<a href="forgot-password" id="loginForgotPassword">Forgot Password</a>
			</div>
		</div>
	{{/if }}
</template>
