<head>
	<title>Wallas | CrabLabs</title>
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300' rel='stylesheet' type='text/css' async>
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>
	{{#if loggingIn }}
		<div id="loggingIn">
			<div id="logoCont">
				<div id="fixed"></div>
				<div id="rotate"></div>
			</div>
			<div id="logoName"></div>
		</div>
	{{ else }}
		{{#if currentUser }}
			{{> layout }}
		{{ else }}
			{{> login }}
		{{/if }}
	{{/if }}
</body>

<template name="layout">
	<header>
		<img src="{{ Meteor.user.profile.image }}" title="{{ Meteor.user.profile.name }}" class="profilePic">
		<a href="#" id="logout" class="button">Logout</a>
		<a href="/" id="back" class="button">Index</a>
	</header>
	{{#if noProfilePic }}
		<span class='warning noProfilePic'>You haven't set a profile pic yet! <a href='#'>Click here</a> to add one!</span> 
	{{/if }}
	<div id="main" role="main">
		{{#if currentGroup }}
			{{> home }}
		{{ else }}
			{{> dashboard }}
		{{/if }}
	</div>
	<footer>
		<div class="interaction"></div>
		<button id="add-new">+</button>
	</footer>
</template>
