<head>
	<title>Wallas | CrabLabs</title>
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300' rel='stylesheet' type='text/css' async>
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	{{#if currentUser }}
		{{> layout }}
	{{ else }}
		{{> login }}
	{{/if }}
</body>

<template name="layout">
	<header>
		<img src="{{ userPicture }}" title="{{ Meteor.user.profile.name }}" class="profilePic">
		<a href="#" id="logout" class="button">Logout</a>
		<a href="/" id="home" class="button">Index</a>
	</header>
	<div id="main" role="main">
		{{#if currentGroup }}
			{{> home }}
		{{ else }}
			{{> dashboard }}
		{{/if }}
	</div>
	<footer>
		<button id="add-new">+</button>
	</footer>
</template>
