<template name="register">
	<div id="register">
		<div class="logo2"></div>
		<form id="registerForm" action="">
			<fieldset>
				<input type="text" name="registerUsername" id="registerUsername" placeholder="Username">
				<input type="text" name="registerEmail" id="registerEmail" placeholder="Email">
				<input type="password" name="registerPassword" id="registerPassword" placeholder="Password">
				<input type="password" name="registerPasswordConfirmation" id="registerPasswordConfirmation" placeholder="Password confirmation">
				<input type="submit" value="Sign in" id="send">
			</fieldset>
		</form>
	</div>
	<span>Design & Develop <a href="http://crab.uy" target="_blank">crab.uy</a>
</template>
